### set the working directory - directory will contain input and output files

set_dir = '/home/knime-workspace/test_ghecom/test/'
#set_dir = '/home/Documents/Modeling_methodology_test/Cleaned_pdbs/'

######FASTA files ###########
fasta_file= 'onetest.fasta'
TMpredInFile= 'onetesttehmm.top'

#### Homology Modelling algorith sellection ####
# for using MOE
#HM_algorithm = 'MOE'

# for using modeller - mention the modeller version installed 
HM_algorithm = 'mod9.20' 
templates_log = '/home/knime-workspace/test_ghecom/test/templates.log'
genmodel = '2' 
 
### For homology modelling with modeller ####
#### Input the templates selected to create the model example
# Templates can be searched through protein-BLAST
# PDB templates should be cleaned - contain only the protein sequence, remove water, co-ligands, etc
# Enter the PDBs and chains &&& pdb code: lower case 1xyz  &&& chain code upper case &&& eg.: 1xyzA separated by semi-colon
# Template file names should be 4 character long only eg. 4iar.pdb 
template_file=  ''


####### binding pocket ######
binding_pocket = 'binding.txt'
#binding_pocket = 'no'
############# GHECOM path #############

### Search the binding pocket in receptor ### 

ghecom = '/home/pocket/ghecom'
out_pocket = 'receptor_poc.pdb'

smina_path = '/home/knime-workspace/test_ghecom/test/'







########## google.protobuf required for running python scripts in knime ####
https://launchpad.net/ubuntu/bionic/+source/protobuf

protobuf source package in Bionic
libprotobuf-dev: protocol buffers C++ library (development files)
libprotobuf-java: Java bindings for protocol buffers
libprotobuf-lite10: protocol buffers C++ library (lite version)
libprotobuf-lite10-dbgsym: debug symbols for libprotobuf-lite10
libprotobuf10: protocol buffers C++ library
libprotobuf10-dbgsym: debug symbols for libprotobuf10
libprotoc-dev: protocol buffers compiler library (development files)
libprotoc10: protocol buffers compiler library
libprotoc10-dbgsym: debug symbols for libprotoc10
protobuf-compiler: compiler for protocol buffer definition files
protobuf-compiler-dbgsym: debug symbols for protobuf-compiler
python-protobuf: Python bindings for protocol buffers
python-protobuf-dbgsym: debug symbols for python-protobuf
python3-protobuf: Python 3 bindings for protocol buffers
python3-protobuf-dbgsym: debug symbols for python3-protobuf
