### set the working directory - directory will contain input and output files
### comment out the commands as per usage

set_dir = '/home/knime-workspace/test_ghecom/test/'
#set_dir = '/home/Documents/Modeling_methodology_test/Cleaned_pdbs/'

######FASTA files ###########
fasta_file= 'onetest.fasta'
TMpredInFile= 'onetesttehmm.top'

#### Homology Modelling algorith sellection ####
# for using MOE remove # from next line
#HM_algorithm = 'MOE'

# for using modeller - mention the modeller version installed # modx.xx
HM_algorithm = 'mod9.20' 
templates_log = '/home/knime-workspace/test_ghecom/test/templates.log'
## Specify the number of models to be generated
genmodel = '2' 
 
### For homology modelling with modeller ####
#### Input the templates selected to create the model example
# Templates can be searched through protein-BLAST
# PDB templates should be cleaned - contain only the protein sequence, remove water, co-ligands, etc
# Enter the PDBs and chains &&& pdb code: lower case 1xyz  &&& chain code upper case &&& eg.: 1xyzA separated by semi-colon
# Template file names should be 4 character long only eg. 4iar.pdb 
template_file=  ''


####### binding pocket ######
binding_pocket = 'binding.txt'
#binding_pocket = 'no'
############# GHECOM path #############

### Search the binding pocket in receptor ### 

ghecom = '/home/pocket/ghecom'
out_pocket = 'receptor_poc.pdb'

smina_path = '/home/knime-workspace/test_ghecom/test/'
